<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <style>
        .product-image {
            width: 100%;
            height: 250px;
            object-fit: contain;
        }

        /* Loading spinner styling */
        .loading-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }

        .cart-icon {
            position: fixed;
            top: 20px;
            right: 20px;
            font-size: 30px;
            color: #000;
            z-index: 1000;
            cursor: pointer;
        }

        .modal-body {
            max-height: 400px;
            overflow-y: auto;
        }
        .user-points {
            background-color: #ffd700;
            color: #000;
            padding: 6px 12px;
            border-radius: 20px;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="cart-icon" @click="toggleCartModal">
            <i class="bi bi-cart-fill"></i>
        </div>
        <!-- Loading Screen -->
        <div v-if="loading" class="loading-screen">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Shop</a>
                <div class="d-flex align-items-center">
                    <button class="btn btn-primary me-3" onclick="window.location.href='comics.html'">
                        <i class="fas fa-crown"></i> Back to comics
                    </button>
                    <button class="btn btn-primary me-3" onclick="window.location.href='subscribe.html'">
                        <i class="fas fa-crown"></i> Subscribe
                    </button>
                    <div class="user-points me-3">
                        <i class="bi bi-coin"></i> {{ users && users.points >= 99999999 ? 'Unlimited' : (users ? users.points : '...') }} Points
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-link text-white dropdown-toggle text-decoration-none" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="me-2">J</span>
                            John Doe
                        </button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Welcome Section -->
        <div class="container mt-3">
            <div class="bg-light p-5 rounded text-center">
                <h1 class="display-4">Welcome to the Shop!</h1>
                <p class="lead">Buy books to support your favourite comic book creators.</p>
                <p> You are: {{users.name}}</p>
                <p> Points: {{users.points}}</p>
                <hr class="my-4">
                <p>If the book is out of stock, try out the preorder function!</p>
            </div>
        </div>

        <!-- Products Section -->
        <div class="container mt-5" v-if="!loading">
            <div class="row">
                <div class="col-md-4" v-for="product in products" :key="product.Id">
                    <div class="card mb-4" @click="selectProduct(product)">
                        <img :src="`data:image/jpeg;base64,${product.image}`" class="card-img-top product-image"
                            alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.comic_name }} - Volume {{ product.volume_name }}</h5>
                            <p class="card-text">Price: ${{ product.price_per_item.toFixed(2) }}</p>
                            <p class="card-text">Stock: {{ product.quantity_in_stock }} available</p>

                            <!-- Button Text based on stock availability -->
                            <button class="btn btn-primary" :disabled="product.isCooldown"
                                @click="product.quantity_in_stock > 0 ? addToCart(product) : addToWaitlist(product)">
                                {{ product.quantity_in_stock > 0 ? 'Purchase' : 'Join Waitlist' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div v-if="cartItems.length > 0">
                            <ul class="list-group">
                                <li class="list-group-item" v-for="item in cartItems" :key="item.id">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="col-4">
                                            <p>{{ item.comic_name }} - Volume {{ item.comic_volume }}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Quantity: {{ item.quantity }}</p>
                                        </div>
                                        <div class="co-2">
                                            <p>Price per item: {{ item.price_per_item }}</p>
                                        </div>
                                        <div class="col-2">
                                            <p><strong>Total: {{ (item.price_per_item * item.quantity).toFixed(2)
                                                    }}</strong></p>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-trash text-danger" @click="deleteEntry(item)"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div v-else>
                            <p>Your cart is empty.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="proceedtoCheckout"
                            :disabled="paymentProcessing">
                            {{ paymentProcessing ? 'Processing...' : 'Proceed to Checkout' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment Form Modal -->
        <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="paymentModalLabel">Payment Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="payment-form">
                            <div class="mb-3">
                                <h4 class="text-center mb-3">Total Amount: ${{ calculateTotal() }}</h4>
                                <label for="card-element" class="form-label">Credit or debit card</label>
                                <div id="card-element" class="form-control" style="height: 40px; padding-top: 10px;">
                                </div>
                                <div id="card-errors" class="text-danger mt-2" role="alert"></div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary" :disabled="paymentProcessing">
                                    {{ paymentProcessing ? 'Processing...' : 'Pay Now' }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stock Update Form (For Demo Purposes)-->
        <div class="container mt-5">
            <h2 v-if="selectedProduct">Update Stock for {{ selectedProduct.comic_name }} - Volume {{
                selectedProduct.volume_name }}</h2>
            <form @submit.prevent="updateStock">
                <div class="mb-3">
                    <label for="stock" class="form-label">New Stock Quantity</label>
                    <input type="number" id="stock" class="form-control" v-model="newStock" min="0" required>
                </div>
                <button type="submit" class="btn btn-success" :disabled="selectedProduct === null">Update Stock</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    products: [], // Empty array to store products
                    loading: true, // Set loading state to true initially
                    selectedProduct: null, // Store selected product for stock update
                    newStock: 0, // New stock value for the form
                    users: {},
                    cartItems: [],
                    stripe: null,
                    elements: null,
                    card: null,
                    paymentProcessing: false
                };
            },
            mounted() {
                // Initialize Stripe
                this.stripe = Stripe('pk_test_51R6nIRFRwiBVrzVlYE7jVVVxhXRxI8S9Vv9OagRWQqhitOwgBF1hoiOKkJr3PDZUvqaxI16rQrdMPx018CMKK9hR00dakf2erY'); // Replace with your actual publishable key
                this.elements = this.stripe.elements();

                // Create card Element and mount it
                this.card = this.elements.create('card');
                this.card.mount('#card-element');

                // Handle validation errors
                this.card.on('change', function (event) {
                    const displayError = document.getElementById('card-errors');
                    if (event.error) {
                        displayError.textContent = event.error.message;
                    } else {
                        displayError.textContent = '';
                    }
                });

                // Products
                fetch('https://personal-dwnxuxog.outsystemscloud.com/InventoryAtomicMicroservice/rest/RESTAPI/GetAllProducts')
                    .then(response => response.json())
                    .then(data => {
                        this.products = data.Products; // Store products from API in Vue data
                        this.loading = false; // Set loading to false when data is loaded
                    })
                    .catch(error => {
                        console.error('Error fetching products:', error);
                        this.loading = false; // Set loading to false in case of an error
                    });

                // User
                fetch('http://localhost:5000/user/1')
                    .then(response => response.json())
                    .then(data => {
                        if (data) {
                            this.users = {
                                id: data.id,
                                name: data.name,
                                phone: data.phone,
                                email: data.email,
                                address: data.address,
                                points: data.points,
                                status: data.status
                            };
                        } else {
                            console.error('No data returned for the user with ID 1');
                        }
                        this.loading = false;
                    })
                    .catch(error => {
                        console.error('Error fetching user data:', error);
                        this.loading = false;
                    });
            },
            methods: {
                // Set selected product and its stock to be updated (Demo Purposes Only!)
                selectProduct(product) {
                    this.selectedProduct = product;
                    this.newStock = product.quantity_in_stock; // Pre-fill the stock input with the current stock
                },


                // Add product to cart
                addToCart(product) {

                    console.log(`${product.comic_name} - Volume ${product.volume_name} - ${this.users.name} of id ${this.users.id} clicked on Add to Cart!`);
                    alert(`${product.comic_name} added to cart!`)
                    const url = `http://localhost:5009/addtocart/${this.users.id}/${product.Id}`;

                    // I dont want them to spam
                    product.isCooldown = true;
                    setTimeout(() => {
                        product.isCooldown = false;
                    }, 1500);

                    // Send a GET request to the backend
                    fetch(url, { method: 'GET' })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Received data:', data);

                            // Reduce stock immediately to prevent spam clicks
                            product.quantity_in_stock--;

                            // Disable the button if stock is depleted
                            if (product.quantity_in_stock <= 0) {
                                product.outOfStock = true; // Flag to disable the button
                            }
                        })
                        .catch(error => {
                            console.error('Error adding to cart:', error);
                            alert('Error adding to cart. Please try again.');
                        });
                },

                calculateTotal() {
                    return this.cartItems.reduce((total, item) => {
                        return total + (item.price_per_item * item.quantity);
                    }, 0).toFixed(2);
                },

                proceedtoCheckout() {
                    if (this.cartItems.length === 0) {
                        alert("Your cart is empty!");
                        return;
                    }

                    // Show the payment modal
                    const paymentModal = new bootstrap.Modal(document.getElementById('paymentModal'));
                    paymentModal.show();

                    // Handle form submission
                    const form = document.getElementById('payment-form');
                    form.addEventListener('submit', (event) => {
                        event.preventDefault();
                        this.processPayment();
                    });
                },

                processPayment() {
                    if (!this.users || !this.users.id) {
                        alert("User ID is missing. Please log in before making a payment.");
                        return;
                    }

                    const totalCost = this.cartItems.reduce((total, item) => {
                        return total + (item.price_per_item * item.quantity);
                    }, 0).toFixed(2);

                    // Convert total cost to cents for Stripe
                    const amountInCents = Math.round(parseFloat(totalCost) * 100);
                    const userId = this.users.id;

                    this.paymentProcessing = true;

                    fetch('http://localhost:5100/payment', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            amount: amountInCents,
                            user_id: userId,
                            category: "book"
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.error) {
                                alert('Error: ' + data.error);
                                console.error("Server Response:", data);
                                this.paymentProcessing = false;
                                return;
                            }

                            if (!data.clientSecret) {
                                alert('Payment initiation failed: Missing clientSecret.');
                                console.error("Missing clientSecret in response:", data);
                                this.paymentProcessing = false;
                                return;
                            }

                            return this.stripe.confirmCardPayment(data.clientSecret, {
                                payment_method: {
                                    card: this.card,
                                }
                            });
                        })
                        .then(result => {
                            if (!result) return;

                            if (result.error) {
                                document.getElementById('card-errors').textContent = result.error.message;
                                console.error("Stripe Payment Error:", result.error);
                                this.paymentProcessing = false;
                            } else {
                                // Payment successful
                                alert('Payment successful! Notification sent.');

                                // Clear cart after payment
                                this.cartItems = [];

                                // Hide modals
                                const paymentModal = bootstrap.Modal.getInstance(document.getElementById('paymentModal'));
                                if (paymentModal) paymentModal.hide();
                                const cartModal = bootstrap.Modal.getInstance(document.getElementById('cartModal'));
                                if (cartModal) cartModal.hide();

                                location.reload()
                            }
                        })
                        .catch(error => {
                            console.error('Payment process error:', error);
                            alert("An unexpected error occurred. Please try again.");
                            this.paymentProcessing = false;
                        });
                },


                deleteEntry(entry) {
                    const cart_id = entry.id;

                    fetch(`http://127.0.0.1:5016/removefromcart/${cart_id}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.message) {
                                alert(data.message);
                            } else if (data.error) {
                                alert(data.error);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('There was an error removing the item from the cart.');
                        });
                },


                addToWaitlist(product) {
                    if (product.isCooldown) return;

                    product.isCooldown = true;
                    setTimeout(() => {
                        product.isCooldown = false;
                    }, 1500);

                    alert(`${product.comic_name} added to waitlist!`)
                    console.log(`${product.comic_name} - Volume ${product.volume_name} - ${this.users.name} id ${this.users.id} clicked on Join Waitlist!`);

                    const url = `http://localhost:5002/addtowishlist/${this.users.id}/${product.Id}`;

                    fetch(url, {
                        method: 'GET',
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Received data:', data);
                        })
                        .catch(error => {
                            console.error('Error adding to waitlist:', error);
                            alert('Error adding to waitlist. Please try again.');
                        });
                },

                toggleCartModal() {
                    this.fetchCartItems();
                    const cartModal = new bootstrap.Modal(document.getElementById('cartModal'));
                    cartModal.show();
                },

                fetchCartItems() {
                    fetch(`http://localhost:5008/cart/${this.users.id}`)
                        .then(response => response.json())
                        .then(data => {
                            this.cartItems = data;
                        })
                        .catch(error => {
                            console.error('Error fetching cart items:', error);
                        });
                },

                // Update stock using the API (FOR DEMO)
                updateStock() {
                    const updatedProduct = {
                        ...this.selectedProduct,
                        quantity_in_stock: this.newStock,
                    };

                    fetch('https://personal-dwnxuxog.outsystemscloud.com/InventoryAtomicMicroservice/rest/RESTAPI/UpdateStock', {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(updatedProduct),
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert('Stock updated successfully!');
                            this.selectedProduct.quantity_in_stock = this.newStock;
                            this.selectedProduct = null;
                            this.newStock = 0;
                        })
                        .catch(error => {
                            console.error('Error updating stock:', error);
                            alert('Error updating stock. Please try again.');
                        });
                },                
            }
        })


        app.mount('#app');
    </script>
</body>

</html>